name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build theme
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install
      - name: Build theme
        run: npm run build
